# git rm -r --cached .
# git add .
# git commit -m 'update .gitignore'

__pycache__/
*.py[cod]
.idea/
docker/codes/
.polyaxon
build/
dist/
data/result/
.ipynb_checkpoints/
.DS_Store
pip
eth.yaml
run.spec
*.whl
*.so

# Cython generation files
*/cpu_nms.c
*/gpu_nms.cpp

output/
work_space/
